body{
margin:0px;
padding:0px;
background-image: url("../image/cant1.jpg");
}
#home{
height: auto;
color: white;
font-size:20px;
margin-left: 30px;
margin-right: 30px;
font-family: cursive;
}
#about{
height: auto;
color: white;
font-size:20px;
margin-left: 30px;
margin-right: 30px;
font-family: cursive;
}
#contact{
height: auto;
color: white;
font-size:20px;
margin-left: 30px;
margin-right: 30px;
font-family: cursive;
}
#head{
height:100px;
background-image: url("../image/aa.jpg");
}
#nav ul li a{
text-decoration: none;
color: white;
padding:10px;
font-family: sans-serif;
}
#nav ul li a:HOVER{
background-color: blue;
}
#logo{
	float: left;
}
#logo h1{
color: white;
}
#nav ul li{
float: right;
margin: 35px;
}
#nav ul{
	list-style-type: none;	
}
#nav{
}
#container{
	height:550px;
   margin-top: 100px;
}
#foot{
background-image: url("../image/aa.jpg");
color: white;
padding: 10px;
}
#login{
background-image: url("../image/aa.jpg");
border-radius:25px;
padding:20px;
margin-left: 250px;
margin-right: 250px;

margin-top: 100px;
}
#login td{
color: white;
font-size: large;
padding: 10px;
}

input[type="text"]{
border-radius:25px;
padding: 5px;
}
input[type="password"]{
border-radius:25px;
padding: 5px;
}
input[type="submit"]{
border-radius:25px;
padding: 5px;
margin-top: 10px;
background-color: blue;
color: white;
}
input[type="submit"]:HOVER{
background-color: red;
}